$pink: rgb(255, 31, 244);
$blue: rgb(23, 77, 255);

.square {
  background: transparent;
  border: 1px solid;
  float: left;

  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  font-family: cursive;
  font-size: 130px;
  font-weight: bold;
  color: $secondary-background;
}

.xColor {
  text-shadow: 0 0 7px $white,
    0 0 10px $white, 0 0 21px $white,
    0 0 42px $pink, 0 0 82px $pink,
    0 0 92px $pink, 0 0 102px $pink,
    0 0 151px $pink;
}

.oColor {
  text-shadow: 0 0 7px $white,
    0 0 10px $white, 0 0 21px $white,
    0 0 42px $blue, 0 0 82px $blue,
    0 0 92px $blue, 0 0 102px $blue,
    0 0 151px $blue;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game_info {
  margin-left: 20px;
}
